.bubble {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../_img/bubbles.png');
    /*border: solid 1px black;*/
}

.cur_bubble {
    left: 360px;
    top: 470px;
}

/*55 x 55*/
.bubble_0 {
    background-position: -6px -5px;
}

/*// background-position: -5px -5px;*/
.bubble_1 {
    background-position: -6px -60px;
}
.bubble_2 {
    background-position: -6px -115px;
}
.bubble_3 {
    background-position: -6px -170px;
}
.bubble_4 {
    background-position: -61px -5px;
}
.bubble_4 {
    background-position: -61px -60px;
}